---
import { getCollection } from 'astro:content';
import Layout from '../../components/Layout.astro';
import { generateCategories } from '../../utils/helpers';

const { slug } = Astro.params;
const blogs = await getCollection('blog').then(entries => entries.filter(entry => !entry.data.draft).filter(entry => generateCategories(entry.data.categories).map(category => category.slug).includes(slug)).map((entry) => ({...entry.data, type: 'blog', url: `/blog/${entry.slug}`})));
const recipes = await getCollection('recipes').then(entries => entries.filter(entry => !entry.data.draft).filter(entry => generateCategories(entry.data.categories).map(category => category.slug).includes(slug)).map((entry) => ({...entry.data, type: 'recipes', url: `/recipes/${entry.slug}`})));
const posts = [...blogs, ...recipes].sort((a: any, b: any) => new Date(b.date).valueOf() - new Date(a.date).valueOf());
if (!posts || posts.length === 0) return Astro.redirect("/404");
const meta = {
    title: "",
    description: ""
}
---
<Layout title="" meta={meta}>
    <div class="bg-gray-900 shadow-lg rounded-b mx-auto">
		<section class="px-2 py-2">
			<div class="p-2">
				<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
					{posts.map((post) => (
						<div class="h-full rounded-xl bg-neutral-200 overflow-hidden">
						{/*<img class="lg:h-48 md:h-36 w-full bg-wissen-blue object-cover object-center scale-110 transition-all duration-400 hover:scale-100" src="" alt="">*/}
							<div class="p-4 h-full relative">
								<div class="flex items-center justify-between">
									<span class="text-xs text-neutral-500">{post.date.toLocaleString('en-US', {day: 'numeric', month: 'long', year: 'numeric', timeZone: 'Europe/Amsterdam'})}</span>							
									<h3 class="text-xs text-neutral-600">{post.type}</h3>
								</div>
								<h2 class="text-lg text-neutral-600 mt-2 mb-3">{post.title}</h2>
								<p class="mb-10 text-sm">{post.description}</p>
								<div class="flex items-center absolute bottom-4 right-4">
									<a href={post.url} class="bg-wissen-blue hover:scale-105 shadow px-4 py-1 rounded-lg">read more..</a>
								</div>
							</div>
						</div>
					))}
				</div>
			</div>
		</section>
	</div>
</Layout>

<style is:global>
    article h2 {
        @apply mt-6 text-xl text-neutral-100
    }
    article p {
        @apply mt-3 mb-4 text-neutral-200 text-justify
    }
    article a {
        @apply text-wissen-orange underline hover:text-wissen-blue
    }
</style>
