---
import { getEntryBySlug } from 'astro:content';
import { generateCategories } from '@lib/util';
import Layout from '@layouts/Layout.astro';

const { slug } = Astro.params;
if (slug === undefined) return Astro.redirect('/404');

const entry = await getEntryBySlug('blog', slug);
if (entry === undefined) return Astro.redirect('/404');

const { Content } = await entry.render();
---

<Layout>
    <Fragment slot="head">
        <title>{entry.data.title} - Jeroen van Wissen</title>
        <meta content="website" property="og:type" />
        <meta content={`${entry.data.title} - Jeroen van Wissen`} property="og:title" />
        <meta content={entry.data.description} name="description" />
        <meta content={entry.data.description} property="og:description" />
        <meta content={`${import.meta.env.SITE}/blog/${entry.slug}`} property="og:url" />
        <meta content={`${import.meta.env.SITE}/images/og-image.webp`} property="og:image" />
        <meta content={`${import.meta.env.SITE}/images/og-image.webp`} property="twitter:image:src" />
        <link href={`${import.meta.env.SITE}/blog/${entry.slug}`} rel="canonical" />
    </Fragment>
    <Fragment slot="title">Blog - Jeroen van Wissen</Fragment>
    <div class="mx-auto rounded-b bg-gray-900 shadow-lg">
        <article class="py-2 md:px-2">
            <div class="md:p-2">
                {/*<img class="lg:h-48 md:h-36 w-full bg-wissen-blue object-cover object-center scale-110 transition-all duration-400 hover:scale-100" src="" alt="">*/}
                <div class="p-4 md:p-6">
                    <div class="items-center justify-between md:flex">
                        <div class="flex text-xs text-neutral-500">{entry.data.date.toLocaleString('en-US', { day: 'numeric', month: 'long', year: 'numeric', timeZone: 'Europe/Amsterdam' })}</div>
                        <div class="flex pt-2 text-xs text-neutral-500 md:pt-0">
                            {
                                generateCategories(entry.data.categories).map((category) => (
                                    <>
                                        <a href={`/category/${category.slug}`} class="hover:text-wissen-orange">
                                            {category.name}
                                        </a>
                                        &nbsp;
                                    </>
                                ))
                            }
                        </div>
                    </div>
                    <h2>{entry.data.title}</h2>
                    <p>{entry.data.description}</p>
                    <Content />
                    <p>
                        <a href="/blog">&larr; back to all posts</a>
                    </p>
                </div>
            </div>
        </article>
    </div>
</Layout>

<style is:global>
    article h2 {
        @apply mt-4 text-base font-bold text-neutral-100 md:mt-6 md:text-xl;
    }
    article p {
        @apply mt-3 mb-4 text-justify text-neutral-200;
    }
    article a {
        @apply text-wissen-orange underline hover:text-wissen-blue;
    }
    article .astro-code {
        @apply rounded-lg border border-neutral-600 p-2 text-xs shadow md:p-4 md:text-base;
    }
</style>
