---
import { getSortedEntriesFromCollection } from '@lib/util';
import Layout from '@layouts/Layout.astro';

const entries = await getSortedEntriesFromCollection('blog');
---

<Layout>
    <Fragment slot="head">
        <title>Blog - Jeroen van Wissen</title>
        <meta content="website" property="og:type" />
        <meta content="Blog - Jeroen van Wissen" property="og:title" />
        <meta content="Overview of all blog entries by Jeroen van Wissen" name="description" />
        <meta content="Overview of all blog entries by Jeroen van Wissen" property="og:description" />
        <meta content={`${import.meta.env.SITE}/blog`} property="og:url" />
        <meta content={`${import.meta.env.SITE}/images/og-image.webp`} property="og:image" />
        <meta content={`${import.meta.env.SITE}/images/og-image.webp`} property="twitter:image:src" />
        <link href={`${import.meta.env.SITE}/blog`} rel="canonical" />
    </Fragment>
    <Fragment slot="title">Blog - Jeroen van Wissen</Fragment>
    <div class="mx-auto rounded-b bg-gray-900 shadow-lg">
        <section class="px-2 py-2">
            <div class="p-2">
                <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
                    {
                        entries.map(entry => (
                            <div class="h-full overflow-hidden rounded-xl bg-neutral-200">
                                {/*<img class="lg:h-48 md:h-36 w-full bg-wissen-blue object-cover object-center scale-110 transition-all duration-400 hover:scale-100" src="" alt="">*/}
                                <div class="relative h-full p-4">
                                    <div class="flex items-center justify-between">
                                        <span class="text-xs text-neutral-500">
                                            {entry.data.date.toLocaleString('en-US', {
                                                day: 'numeric',
                                                month: 'long',
                                                year: 'numeric',
                                                timeZone: 'Europe/Amsterdam',
                                            })}
                                        </span>
                                    </div>
                                    <h2 class="mt-2 mb-3 text-lg text-neutral-600">{entry.data.title}</h2>
                                    <p class="mb-10 text-sm">{entry.data.description}</p>
                                    <div class="absolute bottom-4 right-4 flex items-center">
                                        <a href={`/${entry.collection}/${entry.slug}`} class="rounded-lg bg-wissen-blue px-4 py-1 shadow hover:scale-105">
                                            read more..
                                        </a>
                                    </div>
                                </div>
                            </div>
                        ))
                    }
                </div>
            </div>
        </section>
    </div>
</Layout>

<style is:global>
    article h2 {
        @apply mt-6 text-xl text-neutral-100;
    }
    article p {
        @apply mt-3 mb-4 text-justify text-neutral-200;
    }
    article a {
        @apply text-wissen-orange underline hover:text-wissen-blue;
    }
</style>
