---
import { getSortedPostsByType } from '@lib/util';
import Layout from '@layouts/Layout.astro';

export async function getStaticPaths() {
  return (await getSortedPostsByType('recipe', 'all')).map((post) => {
    return {
      params: { slug: post.slug },
      props: { post },
    };
  });
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout>
  <Fragment slot="head">
    <title>{post.data.title} - Jeroen van Wissen</title>
    <meta content="website" property="og:type" />
    <meta
      content={`${post.data.title} - Jeroen van Wissen`}
      property="og:title"
    />
    <meta content={post.data.description} name="description" />
    <meta content={post.data.description} property="og:description" />
    <meta
      content={`${import.meta.env.SITE}/recipe/${post.slug}`}
      property="og:url"
    />
    <meta
      content={`${import.meta.env.SITE}/images/og-image.webp`}
      property="og:image"
    />
    <meta
      content={`${import.meta.env.SITE}/images/og-image.webp`}
      property="twitter:image:src"
    />
    <link
      href={`${import.meta.env.SITE}/recipe/${post.slug}`}
      rel="canonical"
    />
  </Fragment>
  <div class="w-full bg-primary-950">
    <div class="max-w-6xl mx-auto p-2">
      <article>
        <Content />
      </article>
    </div>
  </div>
</Layout>
