---
import { getSortedPostsByType } from '@lib/util';
import Layout from '@layouts/Layout.astro';
import { Image } from 'astro:assets';
import { getImage } from 'astro:assets';
import Header from '@components/Header.astro';
import PostBlock from '@components/PostBlock.astro';

const blogPosts = await getSortedPostsByType('post', 'blog');
const photoPosts = await getSortedPostsByType('post', 'photo');

---

<Layout>
    <Fragment slot="head">
        <title>Jeroen van Wissen - Full Stack Developer</title>
        <meta content="website" property="og:type" />
        <meta content="Jeroen van Wissen" property="og:title" />
        <meta content="Jeroen van Wissen - More than two decades of experience in development, including over five years as a Tech Lead/Engineering Manager" name="description" />
        <meta content="Jeroen van Wissen - More than two decades of experience in development, including over five years as a Tech Lead/Engineering Manager" property="og:description" />
        <meta content={import.meta.env.SITE} property="og:url" />
        <meta content={`${import.meta.env.SITE}/images/og-image.webp`} property="og:image" />
        <meta content={`${import.meta.env.SITE}/images/og-image.webp`} property="twitter:image:src" />
        <link href={import.meta.env.SITE} rel="canonical" />
    </Fragment>
    <div class="w-full bg-primary-950">
        <div class="max-w-6xl mx-auto px-20 py-14 pb-8">
            <div class="flex gap-8 px-4">
                <Image src="/images/jeroenvanwissen.png" alt="Jeroen van Wissen" width={400} height={400} class="w-1/3" />
                <div class="w-2/3">
                    <div class="pt-20">
                        <p class="text-3xl font-bold text-left text-primary-400">
                            I’m <span class="text-primary-50">Jeroen</span>,<br />Full Stack Developer<br />from the Netherlands
                        </p>
                    </div>
                    <p class="text-sm text-left text-primary-50 md:text-base opacity-80">Connect with me on <a href="https://linkedin.com/in/jeroenvanwissen" rel="me" title="Connect with me on LinkedIn" class="inline-block align-bottom pb-[2px] pl-1"><img src="/images/linkedin.png" alt="LinkedIn logo" class="h-5" /></a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="w-full bg-black">
        <div class="max-w-6xl mx-auto px-4 py-8">
            <Header label="blog posts" />
            <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
                {
                    blogPosts.slice(0, 3).map((post) => (
                        <PostBlock post={post} />
                    ))
                }
            </div>
        </div>
    </div>
    <div class="w-full bg-tertiary-950">
        <div class="max-w-6xl mx-auto px-4 py-8">
            <Header label="projects" />
            <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
                <span class="text-md text-primary-50 opacity-80">project blocks come here</span>
            </div>
        </div>
    </div>
    <div class="w-full bg-primary-950">
        <div class="photo-ribbon py-8">
            <div class="photo-ribbon-content">
                {
                    photoPosts.slice(0, 20).map((post) => (
                            <a href={`/post/${post.slug}/`} title={post.data.title}>
                                <Image src={post.data.image.url} alt={post.data.title} width={300} height={200} class="rounded-lg shadow-lg" />
                            </a>
                    ))
                }
                {
                    photoPosts.slice(0, 20).map((post) => (
                            <a href={`/post/${post.slug}/`} title={post.data.title}>
                                <Image src={post.data.image.url} alt={post.data.title} width={300} height={200} class="rounded-lg shadow-lg" />
                            </a>
                    ))
                }
            </div>
        </div>
    </div>
</Layout>
