---
import { getSortedEntriesFromCollection } from '@lib/util';
import Layout from '@layouts/Layout.astro';

const entries = await getSortedEntriesFromCollection('post', 'blog');
---

<Layout>
    <Fragment slot="head">
        <title>Posts - Jeroen van Wissen</title>
        <meta content="website" property="og:type" />
        <meta content="Posts - Jeroen van Wissen" property="og:title" />
        <meta content="Overview of all posts by Jeroen van Wissen" name="description" />
        <meta content="Overview of all posts by Jeroen van Wissen" property="og:description" />
        <meta content={`${import.meta.env.SITE}/posts`} property="og:url" />
        <meta content={`${import.meta.env.SITE}/images/og-image.webp`} property="og:image" />
        <meta content={`${import.meta.env.SITE}/images/og-image.webp`} property="twitter:image:src" />
        <link href={`${import.meta.env.SITE}/posts`} rel="canonical" />
    </Fragment>
    <Fragment slot="title">Posts - Jeroen van Wissen</Fragment>
    <div class="mx-auto">
        <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4">
            {
                entries.map((entry: any) => (
                    <div class="flex flex-col overflow-hidden rounded-lg shadow-lg h-full">
                        <div class="flex flex-col grow justify-between bg-secondary-800 p-4">
                            <div class="flex-1">
                                <p class="pb-2 text-xs text-primary-50">
                                    {entry.data.date.toLocaleString('en-US', {
                                        day: 'numeric',
                                        month: 'long',
                                        year: 'numeric',
                                        timeZone: 'Europe/Amsterdam'
                                    })}
                                </p>
                                <p class="py-2 text-lg font-bold text-primary-50">{entry.data.title}</p>
                                <p class="py-2 text-base text-primary-50">{entry.data.description}</p>
                            </div>
                            <div class="flex flex-row-reverse place-self-end">
                                <a href={`/${entry.collection}/${entry.slug}`} class="text-md font-bold text-primary-800 rounded-lg bg-primary-50 px-4 pt-1.5 pb-2 shadow-sm hover:bg-primary-300">
                                    read more..
                                </a>
                            </div>
                        </div>
                    </div>
                ))
            }
        </div>
    </div>
</Layout>
