---
import { generateCategories, getSortedEntriesFromCollection } from '@lib/util';
import Layout from '@layouts/Layout.astro';

export async function getStaticPaths() {
    return (await getSortedEntriesFromCollection('post', 'blog')).map((entry: any) => {
        return {
            params: { slug: entry.slug },
            props: { entry }
        };
    });
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout>
    <Fragment slot="head">
        <title>{entry.data.title} - Jeroen van Wissen</title>
        <meta content="website" property="og:type" />
        <meta content={`${entry.data.title} - Jeroen van Wissen`} property="og:title" />
        <meta content={entry.data.description} name="description" />
        <meta content={entry.data.description} property="og:description" />
        <meta content={`${import.meta.env.SITE}/post/${entry.slug}`} property="og:url" />
        <meta content={`${import.meta.env.SITE}/images/og-image.webp`} property="og:image" />
        <meta content={`${import.meta.env.SITE}/images/og-image.webp`} property="twitter:image:src" />
        <link href={`${import.meta.env.SITE}/post/${entry.slug}`} rel="canonical" />
    </Fragment>
    <div class="mx-auto rounded-lg bg-secondary-800 shadow-lg">
        <article>
            <div class="p-4 md:p-6">
                <div class="items-center justify-between md:flex">
                    <div class="flex text-xs text-primary-50">{entry.data.date.toLocaleString('en-US', { day: 'numeric', month: 'long', year: 'numeric', timeZone: 'Europe/Amsterdam' })}</div>
                    <!-- <div class="flex pt-2 text-xs text-primary-500 md:pt-0">
                        {
                            generateCategories(entry.data.categories).map((category) => (
                                <>
                                    <a href={`/category/${category.slug}`} class="hover:text-primary-300 underline">
                                        {category.name}
                                    </a>
                                    &nbsp;
                                </>
                            ))
                        }
                    </div> -->
                </div>
                <h2>{entry.data.title}</h2>
                <p>{entry.data.description}</p>
                <Content />
                <p>
                    <a href="/posts">&larr; back to all posts</a>
                </p>
            </div>
        </article>
    </div>
</Layout>
