---
import { generateCategories, getSortedEntriesFromCollection } from '@lib/util';
import Layout from '@layouts/Layout.astro';
import { Image } from 'astro:assets';

export async function getStaticPaths() {
    return (await getSortedEntriesFromCollection('post', 'all')).map((entry: any) => {
        return {
            params: { slug: entry.slug },
            props: { entry }
        };
    });
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout>
    <Fragment slot="head">
        <title>{entry.data.title} - Jeroen van Wissen</title>
        <meta content="website" property="og:type" />
        <meta content={`${entry.data.title} - Jeroen van Wissen`} property="og:title" />
        <meta content={entry.data.description} name="description" />
        <meta content={entry.data.description} property="og:description" />
        <meta content={`${import.meta.env.SITE}/post/${entry.slug}`} property="og:url" />
        <meta content={`${import.meta.env.SITE}/images/og-image.webp`} property="og:image" />
        <meta content={`${import.meta.env.SITE}/images/og-image.webp`} property="twitter:image:src" />
        <link href={`${import.meta.env.SITE}/post/${entry.slug}`} rel="canonical" />
    </Fragment>
    <div class="w-full bg-primary-950">
        <div class="max-w-6xl mx-auto px-6">
            <article>
                <div class="p-4 md:p-6">
                    <div class="items-center justify-between md:flex">
                        <!-- <div class="flex text-xs text-primary-50">{entry.data.date.toLocaleString('en-US', { day: 'numeric', month: 'long', year: 'numeric', timeZone: 'Europe/Amsterdam' })}</div> -->

                        { entry.data.image && (
                            <Image
                                src={entry.data.image.url}
                                alt={entry.data.image.alt}
                                width={1320}
                                class=""
                                />
                        )}

                        <!-- <div class="flex pt-2 text-xs text-primary-500 md:pt-0">
                        {
                            generateCategories(entry.data.categories).map((category) => (
                                <>
                                    <a href={`/category/${category.slug}`} class="hover:text-primary-300 underline">
                                        {category.name}
                                    </a>
                                    &nbsp;
                                </>
                            ))
                        }
                    </div> -->
                    </div>
                    <h2>{entry.data.title}</h2>
                    <p>{entry.data.description}</p>
                    <Content />
                    <p>
                        <a href="/posts">&larr; back to all posts</a>
                    </p>
                </div>
            </article>
        </div>
    </div>
</Layout>

<style is:global>
    article h2 {
        @apply mt-4 text-base font-bold text-primary-50 md:mt-6 md:text-xl;
    }
    article p {
        @apply mt-3 mb-4 text-primary-50;
    }
    article a {
        @apply text-primary-500 underline hover:text-primary-300;
    }
    article .astro-code {
        @apply rounded-lg border border-secondary-700 p-2 text-xs shadow md:p-4 md:text-base;
    }
</style>
