---
import { Image } from 'astro:assets';

export interface Props {
  post: {
    slug: string;
    data: {
      categories: string[];
      date: Date;
      title: string;
      description: string;
      image: {
        url: string;
        alt: string;
      };
    };
  };
  direction?: string;
  type?: string;
}

const { post, direction, type = 'post' } = Astro.props;

let border = '';
if (direction === 'left') {
  border = 'rounded-tl-xl rounded-br-xl';
} else if (direction === 'right') {
  border = 'rounded-bl-xl rounded-tr-xl';
}

let href = `/post/${post.slug}`;
if (type === 'photo') {
  href = `/photography#${post.slug}`;
}
---

<a
  href={href}
  class={`block text-white/80 hover:text-white bg-white/5 hover:bg-white/10 ${border} overflow-hidden`}
>
  {
    post.data.image && (
      <Image
        src={post.data.image.url}
        alt={post.data.image.alt}
        format="webp"
        width={800}
        height={400}
        quality={50}
        class=""
        loading="lazy"
      />
    )
  }
  <div class="p-2 sm:p-4">
    <h2 class="font-black text-sm sm:text-md lg:text-xl mb-2">
      {post.data.title}
    </h2>
    <p class="font-extralight text-xs sm:text-sm lg:text-md">
      {post.data.description}
    </p>
    <div class="my-1">
      {
        post.data.categories.map((category: string) => (
          <span class="text-xs rounded-full px-3 py-1 mr-1 whitespace-nowrap inline-block text-primary-100 bg-primary-400/15">
            {category}
          </span>
        ))
      }
    </div>
  </div>
</a>
